html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ececec;
}

@media (max-width: 992px) {
  .navbar {
    background-color: #ffffff;
  }
  .navbar-toggler {
    background-color: rgb(255, 255, 255);
  }
}

.btn {
  border-radius: 10px;
  background-color: #dc3545;
  color: white;
}
.btn:hover {
  background-color: #ca1426;
  color: white;
  border: 1px solid transparent;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.verifyEmailBtn {
  border-radius: 10px;
  background-color: #cf0d21;
  color: white;
  width: 8rem;
}
.verifyEmailBtn:hover {
  background-color: #d43444;
  color: white;
  border: 1px solid transparent;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fw {
  font-weight: 400;
}
.verifyEmail {
  font-size: 3rem;
}

.login-btn {
  height: 40px;
  color: white;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
/*Login Page Stylng*/
.ftco-section {
  padding: 7em 0;
  background-color: rgb(255, 255, 255);
}
.signup-spinner {
  padding: 25em 0;
}
.vehicles-spinner {
  padding: 12em 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.signin-btn {
  color: white;
  background-color: #dc3545;
  height: 48px;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid transparent;
}
.signin-btn:hover {
  background-color: #ca1426;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-wrap {
  position: relative;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px #d6d6d6;
  -moz-box-shadow: 0px 5px 5px #d6d6d6;
  box-shadow: 0px 5px 5px #d6d6d6;
}
.login-wrap h3 {
  font-weight: 300;
}

.social-media {
  position: relative;
  width: 100%;
}
.social-media .social-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 16px;
  margin-right: 5px;
  border-radius: 50%;
}
.social-media .social-icon span {
  color: #999999;
}
.social-media .social-icon:hover,
.social-media .social-icon:focus {
  background: #f35588;
}
.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
  color: #fff;
}
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;
  -ms-appearance: menulist !important;
  -o-appearance: menulist !important;
  appearance: menulist !important;
}

.form-control:active {
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 5px #d6d6d6;
  -moz-box-shadow: 0px 3px 5px #d6d6d6;
  box-shadow: 0px 3px 5px #d6d6d6;
  border-color: transparent;
}

.form-control:focus {
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 5px #d6d6d6;
  -moz-box-shadow: 0px 3px 5px #d6d6d6;
  box-shadow: 0px 3px 5px #d6d6d6;
  border-color: transparent;
}

.remember-me {
  color: #ca1426;
}

.checkbox:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgb(170, 170, 170);
}
.checkbox:checked {
  background-color: #ca1426;
  border-color: transparent;
  border: 1px solid transparent;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.forget-password {
  font-size: 12pt;
  color: #ca1426;
}
.forget-password:hover {
  font-size: 12pt;
  color: #ff0019;
  cursor: pointer;
}
.checkbox {
  margin-right: 4px;
}

.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  justify-content: center;
}
.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}
.account-type {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.password-match {
  color: #ca1426;
  margin-bottom: 10px;
}
#form-message {
  height: 50%;
  border-radius: 10px;
}

.imageupload:hover {
  background-color: #dc3545;
  color: white;
}
.imageupload {
  color: gray;
}
.imageicon {
  justify-content: space-between;
  display: flex;
}
.imagetext {
  margin-top: 4pt;
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 220px;
}

.dashnav {
  z-index: 1;
}

/* Transporter Dashboard */
.pageWrapper {
  padding: 7rem 0;
  min-height: 100vh;
  z-index: 1;
}

.contentArea {
  flex-grow: 1;
  z-index: 1;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  margin-bottom: 30px;
  box-shadow: 0 0.3rem 0.5rem rgb(187, 187, 187);
}

.cursor-pointer {
  cursor: pointer;
}

.button-group .btn {
  margin: 3px;
}
.btn-white {
  border: 1px solid transparent;
}
.simplebar-scrollbar:before {
  background: #a0a0a0;
}

.vehicleForm h3 {
  font-weight: 300;
}

.vehicleButton {
  margin-top: 1.5rem;
}
.searchButton {
  margin-top: 1.5rem;
}

.topBorder {
  border-top: 1px solid rgb(190, 27, 27);
}

.transporterImg {
  width: 300px;
  height: 300px;
}

.pageError {
  margin-top: 100;
  padding: 20rem 0;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageError h2 {
  color: red;
  text-decoration: underline;
}

.FAQCard {
  border-radius: 30px;
}

.servicesicon {
  background-color: #fff;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 63%;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  line-height: 150px;
  font-size: 62px;
  color: #fedf00;
}

.servicesicon img {
  width: 50%;
}

.fontWeight {
  font-weight: 450;
}

.servicesPara {
  text-align: justify;
}
.FAQSText {
  text-align: justify;
  font-size: 15px;
}

.pageHeading {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Product Sans Bold";
}
.pageBody {
  display: block;
  text-align: justify;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 2rem;
  font-size: 16px;
  color: #000;
}

@media (min-width: 1100px) {
  .customFluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
